---
- name: Copy dockerfiles
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /home/{{ username }}/{{ item }}
    owner: "{{ username }}"
    mode: "0644"
  loop: "{{ dockerfiles }}"

- name: Run containers
  community.docker.docker_compose_v2:
    project_name: warfare
    project_src: /home/{{ username }}
    state: present
  register: output

- name: Show results
  ansible.builtin.debug:
    var: output

- name: Upload scripts
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /home/{{ username }}/{{ item }}
    owner: "{{ username }}"
    mode: "0644"
  loop: "{{ scripts }}"

- name: Copy scripts to attacker container
  community.docker.docker_container_copy_into:
    container: attacker
    path: /home/{{ username }}/{{ item }}
    container_path: /opt/{{ item }}
    mode: "0755"
    mode_parse: modern
  loop: "{{ scripts }}"