version: "3.8"

networks:
  vulnnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16

services:
  attacker:
    build:
      context: .
      dockerfile: Dockerfile.attacker
    container_name: attacker
    restart: unless-stopped
    networks:
      vulnnet:
        ipv4_address: 172.20.0.10
    stdin_open: true
    tty: true

  victim:
    image: bkimminich/juice-shop:latest
    container_name: victim-juice-shop
    hostname: victim-juice-shop
    restart: unless-stopped
    networks:
      vulnnet:
        ipv4_address: 172.20.0.106
    ports:
    - "3000:3000"
    environment:
      - NODE_ENV=production
